#provider:hover{
    background-color: var(--accent-color) !important;
}

.providerEntry{
    flex-grow: 0;
    padding: 2rem;
}

#signUpForm, #logInForm{
    row-gap: 1rem;
}


#authenticationModal{
    padding: 10rem;
}

#modalBody{
    background-color: var(--background-color);
    animation: dropIn 1s forwards;
}

#submitButton{
    border: 1px solid var(--text-color);
    width: fit-content;
}

#submitButton:hover{
    background-color: var(--accent-color);
    color: var(--background-color);
    border: 1px solid var(--accent-color);
}

.changeLabel{
    font-style: italic;
    text-decoration: underline;
}

.changeLabel:hover{
    color: var(--accent-color);
    cursor: pointer;
}

#logInForm input, #signUpForm input{
    color: var(--accent-color);
}

@keyframes dropIn {
    from{
        transform: translate(0, -100vh);
    }
    to{
        transform: translate(0, 0);
    }
}