.selectedNavItem, .unselectedNavItem:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.navIcon, .userIcon{
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
}

#userButton{
    border: 4px solid var(--background-color);
}

#userButton:hover{
    border: 4px solid var(--accent-color);
}

.navIcon{
    color: var(--text-color);
}

.navIcon:hover, .userIcon:hover{
    color: var(--accent-color);
}

nav{
    height: 90px;
}